[Unit]
Description=Authors haven service
After=network.target

[Service]
Type=simple
User=vagrant
WorkingDirectory=/home/vagrant
ExecStart=/bin/bash /home/vagrant/start_ah.sh

[Install]
WantedBy=multi-user.target
